.footer-last {
  background: $third;
  color: #fff;

  & .footer-container {
    padding: 5rem 2rem;
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    grid-gap: 1.5rem;
    & .footer-boxes {
      min-width: 350px;

      & .footer-para {
        width: 80%;
      }
    }
    & .footer-box {
        width: 90%;
      & .terms-links {
        color: #fff;
        text-decoration: underline;
        margin: 1rem 0;
      }
    }
    @include mobile{
        grid-template-columns: 1fr;
        padding: 3rem 1rem;
    }
  }
}

.footer-title {
  @include footer-title;
}
