.main-section {
  width: 100%;
  height: 100%;
  padding: 4rem 0;
  & .container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    &__left {
      padding: 2rem;
      & .intro{
        @include fontweight;
        color: $second;
      }
      & .main-title{
        @include fontweight;
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }
      & .break{
          margin-top: 1rem;
      }
      & .position{
        margin-top: 1.5rem;
        font-size: 1.3rem;
      }
    }
    &__right {
      padding: 2rem;
      &__img {
        overflow: hidden;
        max-width: 750px;
        & img {
          width: 100%;
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
            @include transition
          }
        }
      }
    }
    @include mobile{
      grid-template-columns: 1fr;
    }
  }
}
